<head>
    <title>Aruka Wellness</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/style.css" />
    <style type="text/css">
      .scrollax-performance,
      .scrollax-performance *,
      .scrollax-performance *:before,
      .scrollax-performance *:after {
        pointer-events: none !important;
        -webkit-animation-play-state: paused !important;
        animation-play-state: paused !important;
      }
    </style>
    {# <script
      type="text/javascript"
      charset="UTF-8"
      src="https://maps.googleapis.com/maps-api-v3/api/js/52/3a/common.js"
    ></script> #}
    {# <script
      type="text/javascript"
      charset="UTF-8"
      src="https://maps.googleapis.com/maps-api-v3/api/js/52/3a/util.js"
    ></script> #}
  </head>