{% extends "partition/layout.njk" %} {% block body %}
<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('images/bg_4.jpg')"
>
  <div class="overlay"></div>
  <div class="overlay-2"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div
        class="col-md-9 ftco-animate pb-5 text-center fadeInUp ftco-animated"
      >
        <p class="breadcrumbs">
          <span class="mr-2"
            ><a href="/">Home <i class="fa fa-chevron-right"></i></a
          ></span>
          <span>Classes <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-0 bread">Aruka Wellness Classes</h1>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-5">
        <div
          class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated"
        >
          <span class="subheading">Aruka Wellness</span>
          <h2 class="mb-4">Our Services</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-1.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >Yoga</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-1.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >Private &amp; Group Lessons</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-2.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >physiotherapy</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-3.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >online solo & group training</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-4.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >at-home wellness spa</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-5.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >zumba</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-6.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >personalized diet</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-6.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >personalized strength training & conditioning</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="classes w-100 ftco-animate fadeInUp ftco-animated">
            <a
              href="#"
              class="img w-100"
              style="background-image: url(images/classes-6.jpg)"
            ></a>
            <div class="text w-100 text-center">
              <div class="meta">
                <p>
                  <a href="#"><span class="fa fa-user mr-1"></span>Joe Doe</a>
                  <a href="#"
                    ><span class="fa fa-calendar mr-1"></span>Mon, Tue, Wed</a
                  >
                  <br />
                  <a href="#" class="meta-chat"
                    ><span class="fa fa-clock-o mr-1"></span> 8:00 am- 9:00am</a
                  >
                </p>
              </div>
              <h3 style="text-transform: uppercase;"><a href="#" >one-on-one wellness counseling</a></h3>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
{% endblock %}
